name: Deploy to kubernetes ec2

on:
  push:
    branches:
      - kubernetes

jobs:
  deploy:
    runs-on: 
      - self-hosted
      - kubernetes

    steps:
    - uses: actions/checkout@v3
      
    - name: Build the Docker image
      run: sudo docker build -t ezops-test-backend .

    - name: Delete Old kubectl running replicas
      run: sudo kubectl delete deployment node-app-deployment

    - name: Run kubectl apply
      run: sudo kubectl apply -f deployment.yaml

    - name: check pods creating
      run: sudo kubectl get pods  
